.leftbox
  .box
    .title
      所有分类
    .content
      %ul.category
        - for cat in ActivityCategory.order("position")
          %li
            = link_to cat.name, nav_activity_url(:category => URI.encode(cat.name))
        .clearfix
.middlebox.with-medium-width
  .comp_area
    %ul
      %li 按商区
      - for cat in ActivityArea.order("position")
        %li
          = link_to cat.name, nav_activity_url(:area => URI.encode(cat.name))
      .clearfix
  .display_select
    
  .infos_list
    - for activity in @activities
      .item
        .title
          = link_to activity.title, activity
        .schedule
          %span 活动时间
          = activity.schedule
        .address
          %span 活动商场
          = activity.address
        .tags
          %span 标签
          = link_to "综合商场", ""
          = link_to "品牌折扣店", ""
  = will_paginate @activities, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  
.rightbox.medium-width
  .box
    .title
      网友线报
    .content

.clearfix