.brands_list.left
  - for brand in @brands
    - if brand.user_id.present?
      .item
        .poster
          .action
            = link_to raw("喜欢(<span id='likes_count_#{brand.id}'>#{brand.likes_count}</span>)"), like_brand_url(brand), :remote => true, :method => :post
            = link_to "评论", view_brand_url(brand)
          = link_to image_tag(brand.poster.url, :width => "180", :height => "270"), user_brand_url(brand.user_id, brand)
        .userbox
          = link_to image_tag(brand.user.avatar.url(:thumb), :width => 40, :height => 40), brand.user
          = link_to brand.user.name, brand.user, :class => "user_name"
    - else
      .item
        .poster
          .action
            = link_to raw("喜欢(<span id='likes_count_#{brand.id}'>#{brand.likes_count}</span>)"), like_brand_url(brand), :remote => true, :method => :post
            = link_to "评论", view_brand_url(brand)
          = link_to image_tag(brand.poster.url, :width => "180", :height => "270"), view_brand_url(brand)
        .title
          = link_to brand.title, view_brand_url(brand)
  .clearfix
  = will_paginate @brands, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  
.brands_tags.right
  %ul
    -for tag in Article.tag_counts
      %li= link_to tag, nav_brand_url(:tag => URI.encode(tag.name))
  .clearfix

.clearfix