.leftbox
  .box
    .title
      所有分类
    .content
      %ul.category
        - for cat in CompanyCategory.order("position")
          %li
            = link_to cat.name, nav_company_url(:category => URI.encode(cat.name))
        .clearfix
.middlebox
  .comp_area
    %ul
      %li 按商区
      - for cat in CompanyArea.order("position")
        %li
          = link_to cat.name, nav_company_url(:area => URI.encode(cat.name))
      .clearfix
  .display_select
    
  .infos_list
    - for company in @companies
      .item
        .title
          = link_to company.title, company
        .address
          %span 地址
          = company.address
        .tags
          %span 标签
          - for tag in company.tags
            %span= link_to tag.name, nav_company_url(:tag => URI.encode(tag.name))
  = will_paginate @companies, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  
.rightbox
  .box
    .title
      相关活动
    .content
      %ul.news-list
        %li
          = link_to "文字文字文字文字文字", ""
          .info
            11月17日-11月27日
        %li
          = link_to "文字文字文字文字文字", ""
          .info
            11月17日-11月27日
        %li
          = link_to "文字文字文字文字文字", ""
          .info
            11月17日-11月27日
        %li
          = link_to "文字文字文字文字文字", ""
          .info
            11月17日-11月27日
        %li
          = link_to "文字文字文字文字文字", ""
          .info
            11月17日-11月27日
        .clearfix
  .box
    .title
      商家新闻动态
    .content
      %ul.news-list
        %li= link_to "文字文字文字文字文字", ""
        %li= link_to "文字文字文字文字文字", ""
        %li= link_to "文字文字文字文字文字", ""
        %li= link_to "文字文字文字文字文字", ""
        %li= link_to "文字文字文字文字文字", ""
        .clearfix

.clearfix