= form_for(article, :url => (article.new_record? ? ezadmin_articles_url : ezadmin_article_url(article))) do |f|
  %table.styled
    %tbody
      %tr
        %td
          标题
        %td
          = f.text_field :title, :class => "input fullwidth"
      %tr
        %td
          内容
        %td
          = f.cktext_area("content", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Basic')
      %tr
        %td
          
        %td
          - unless article.new_record?
            .right
              = link_to "删除", ezadmin_article_url(article), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
          = link_to "返回", :back
            
          
            
          