= form_for(article) do |f|
  %table{:width => "100%", :cellpadding => 4}
    %tbody
      - if article.activity.present?
        %tr
          %td{:width => 100}
          %td
            本文投稿到活动：
            = link_to article.activity.title, article.activity, :target => "_blank"
      - if article.archetype.present?
        %tr
          %td{:width => 100}
          %td
            本文投稿到：
            = link_to article.archetype.name, article.archetype, :target => "_blank"
      %tr
        %td{:width => 100}
          海报
        %td
          - unless article.new_record?
            = link_to image_tag(article.poster.url(:small)), article.poster.url, :title => "点击查看大图", :target => "_blank"
            %br
          = f.file_field :poster

      %tr
        %td
          内容
        %td
          = f.text_area("content", :cols => 70, :rows => 10, :class => "textarea")
      %tr
        %td
          标签
        %td
          = f.text_field :tag_list, :class => "input wide"
       
      

  .btn
    = submit_tag("确定", :class => "submit")
  
            
          
            
