= render :partial => "users/usersidebox"
.shareview
  .show
    .head
      .right
        = link_to raw("<span id='likes_count_#{@article.id}'>#{@article.likes_count}</span><em></em>"), like_article_url(@article), :remote => true, :method => :post, :class => "like"
        = link_to raw("<span id='shares_count_#{@article.id}'>#{@article.shares_count}</span><em></em>"), share_article_url(@article), :remote => true, :method => :post, :class => "share"
      .block
        .avatar
          = link_to image_tag(@user.avatar.url(:small), :width => 60, :height => 60), @user
        .info
          .name
            = link_to @user.name, @user
          .time
            = @article.created_at.to_s(:db)
        .clearfix
      .clearfix
    .intro
    .body
      - if @article.poster.file?
        .poster
          = image_tag(@article.poster.url)
      .content
        = @article.content.html_safe
      .sharebox
        分享到：
        = link_to "", js_void, :class => "sina"
        = link_to "", js_void, :class => "tx"
        = link_to "", js_void, :class => "rr"
        = link_to "", js_void, :class => "qz"
      - if @article.items.present?
        .items
          .item_title
            关联商品
          %ul
            - for item in @article.items
              %li= image_tag(item.poster.url(:small), :width => 60, :height => 60)
            .clearfix
          .clearfix
        
    .content
    .comments
.clearfix