%ul.homebtn
  %li= link_to "写文字", write_users_url, :class => "text"
  %li= link_to "传图片", "", :class => "photo"
  %li= link_to "发视频", "", :class => "video"
  %li= link_to "发起活动", "", :class => "activity"
  %li= link_to "发布商品", "", :class => "goods"
  .clearfix