.leftarea
  = render :partial => "users/homebtn"
  = render :partial => "users/homenav"
    
  .list
    - for activity in @activities
      .item
        .avatar= image_tag(@user.avatar.url(:thumb))
        .content
          .name
            = @user.name
          .title
            = link_to activity.title, user_activity_path(@user, activity)
          .poster
            = image_tag(activity.poster.url(:small))
          .text
            = activity.content.html_safe
          .action
            .btn.right
              热度(9)
              回应(4)
              转载
            .tags
              - for tag in @activity.tags
                %span= link_to tag.name, nav_activity_url(:tag => URI.encode(tag.name))
        .clearfix
    .paginate
      = will_paginate @activities, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix