.leftarea
  = render :partial => "users/homebtn"
  = render :partial => "users/homenav"
    
  .list
    - for article in @articles
      .item
        .avatar= image_tag(@user.avatar.url(:thumb))
        .content
          .name
            = @user.name
          .title
            = link_to article.title, user_article_path(@user, article)
          .poster
            = image_tag(article.poster.url(:small))
          .text
            = article.content.html_safe
          .action
            .btn.right
              热度(9)
              回应(4)
              转载
            .tags
              - for tag in article.tags
                %span= link_to tag.name, nav_article_url(:tag => URI.encode(tag.name))
        .clearfix
    .paginate
      = will_paginate @articles, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix