.leftarea
  = render :partial => "users/homebtn"
  
  %ul.homenav
    %li= link_to "全部", user_url(@user)
    %li= link_to "时尚", articles_user_url(@user), :class => 'on'
    %li= link_to "活动", "#"
    .clearfix
    
  .list
    - for article in @articles
      .item
        .avatar= image_tag("avatar.jpg")
        .content
          .name
            = @user.name
          .title
            = article.title
          .text
            = html_escape(raw(article.content))
          .action
            .btn.right
              热度(9)
              回应(4)
              转载
            .tags
              %span= link_to "#标签", ""
              %span= link_to "#标签", ""
              %span= link_to "#标签", ""
              %span= link_to "#标签", ""
        .clearfix
    .paginate
      = will_paginate @articles, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix