.leftarea
  = render :partial => "users/homebtn"
  = render :partial => "users/homenav"
    
  .list
    - for brand in @brands
      .item
        .avatar= image_tag(@user.avatar.url(:thumb))
        .content
          .name
            = @user.name
          .title
            = link_to brand.title, user_brand_path(@user, brand)
          .poster
            = image_tag(brand.poster.url(:small))
          .text
            = brand.content.html_safe
          .action
            .btn.right
              热度(9)
              回应(4)
              转载
            .tags
              - for tag in brand.tags
                %span= link_to tag.name, nav_brand_url(:tag => URI.encode(tag.name))
        .clearfix
    .paginate
      = will_paginate @brands, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix