- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');}
= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      = @page_title
    .nav
    .formstyle
      - if @archetype.present?
        = form_for(@report, :url => postreport_users_url, :html => {:multipart => true}) do |f|
          = f.hidden_field :category_id,  :value => @archetype.category_id
          = f.hidden_field :channel_id,   :value => @archetype.channel_id
          = f.hidden_field :area_id,      :value => @archetype.area_id
          %table{:width => '100%', :cellspadding => 6}
            - if @archetype.present?
              %tr
                %td{:width => 100}
                  = @archetype.category.name
                %td
                  = link_to image_tag(@archetype.logo.url), @archetype, :target => "_blank"
            %tr
              %td
              %td 请在下面填写您发现的信息
            %tr
              %td 活动时间
              %td= f.text_field :opening_date, :cols => 40, :rows => 6, :class => "input"
            %tr
              %td 文字描述
              %td= f.text_area :content, :cols => 40, :rows => 6, :class => " wide"
            %tr
              %td 实拍图片
              %td
                = link_to("增加上传", js_void, :onclick => "add_upload_file();")
            %tr#upload_div
              %td
              %td
                = file_field_tag "photos[file][]"
            %tr.addmore
              %td 信息来源
              %td= f.text_field :info_from, :cols => 40, :rows => 6, :class => "input"
          .btn
            = submit_tag "确定", :class => "submit"
        
.clearfix
