= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      我关注谁
    .nav
      %ul
        %li= link_to "我的关注", follows_users_url
        %li= link_to "谁关注我", followers_users_url
        %li= link_to "我关注谁", following_users_url, :class => "on"
        .clearfix
    .tablestyle
      %ul
        - for user in @users
          %li
            .right
              = link_to "访问空间", user, :target => "_blank"
            你关注了
            = user.name

      = will_paginate @users, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
        
.clearfix
