.leftarea
  = render :partial => "users/homebtn"
  = render :partial => "users/homenav"
    
  .list
    - for good in @goods
      .item
        .avatar= image_tag(@user.avatar.url(:thumb))
        .content
          .name
            = @user.name
          .title
            = link_to good.title, user_good_path(@user, good)
          .poster
            = image_tag(good.poster.url(:small))
          .album
            - for photo in good.photos
              = image_tag(photo.file.url(:small))
          .text
            = good.content.html_safe
          .action
            .btn.right
              热度(9)
              回应(4)
              转载
            .tags
              %span= link_to "#标签", ""
              %span= link_to "#标签", ""
              %span= link_to "#标签", ""
              %span= link_to "#标签", ""
        .clearfix
    .paginate
      = will_paginate @goods, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix