- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');}
    function change_div(dividname) {
      $('#'+dividname).toggle();}

.leftarea
  
  .writediv
    = form_tag(postpublish_users_url, :multipart => true) do
      .singlediv
        .title
          标题
          %small (可不填)
        .inputdiv
          = text_field_tag :title, "", :class => "input"
      .singlediv
        .title
          封面图片
          %small 不填是种损失哦
        .inputdiv
          = file_field_tag :poster
      .singlediv
        .title
          我要关联
          = check_box_tag :relate_1, 1, false, :onclick => "change_div('div1');"
          = label_tag :relate_1, "系列图片"
          
          = check_box_tag :relate_2, 2, false, :onclick => "change_div('div2');"
          = label_tag :relate_2, "视频代码"
          
          = check_box_tag :relate_3, 3, false, :onclick => "change_div('div3');"
          = label_tag :relate_3, "一个商家活动"
          
          = check_box_tag :relate_4, 4, false, :onclick => "change_div('div4');"
          = label_tag :relate_4, "一个品牌"

          = check_box_tag :relate_5, 5, false, :onclick => "change_div('div5');"
          = label_tag :relate_5, "一个商品"

        .inputdiv.hide#div1
          .singlediv
            .title
              系列图片
              %small
                = link_to("增加上传", js_void, :onclick => "add_upload_file();")
          .singlediv#upload_div
            .inputdiv
              = file_field_tag "photos[file][]"
          .addmore.mb

        .inputdiv.hide#div2
          .singlediv
            .title
              swf代码
              %small 支持优酷/土豆/酷6/六间房/56网/音悦台/搜狐/奇艺的swf格式的视频代码,如 http://www.youku.com/sample.swf
            .inputdiv
              = text_field_tag :code, "", :class => "input"

        .inputdiv.hide#div3
          .singlediv
            .title
              活动时间
            .inputdiv
              = text_field_tag :schedule, "", :class => "input"
          .singlediv
            .title
              活动商场
            .inputdiv
              = text_field_tag :place, "", :class => "input"
          .singlediv
            .title
              活动地址
            .inputdiv
              = text_field_tag :address, "", :class => "input"
          .singlediv
            .title
              活动电话
            .inputdiv
              = text_field_tag :phone, "", :class => "input"
          .singlediv
            .title
              营业时间
            .inputdiv
              = text_field_tag :office_time, "", :class => "input"
          .singlediv
            .title
              公交信息
            .inputdiv
              = text_field_tag :bus_info, "", :class => "input"
          .singlediv
            .title
              活动分类
            .inputdiv
              = select_tag :category, options_for_select(Category.order('position').map{|c| c.name})
          .singlediv
            .title
              活动地区
            .inputdiv
              = select_tag :area, options_for_select(Area.order('position').map{|a| a.name})
          .singlediv
            .title
              折扣
            .inputdiv
              = text_field_tag :discount, "", :class => "input"

        .inputdiv.hide#div4
          .singlediv
            .title
              品牌名称
            .inputdiv
              = text_field_tag :brand_name, "", :class => "input"
          .singlediv
            .title
              品牌描述
            .inputdiv
              = text_field_tag :brand_desc, "", :class => "input"

        .inputdiv.hide#div5
          .singlediv
            .title
              商品价格
            .inputdiv
              = text_field_tag :price, "", :class => "input small"
              元

      .singlediv
        .title
          内容
        .inputdiv
          = cktext_area_tag("content", "", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Basic')
      .singlediv
        .title
          标签
          %small 中文逗号分割
        .inputdiv
          = text_field_tag :tag_list, "", :class => "input"
      .btns
        .right
          = submit_tag "发布", :class => "submit"
        = link_to "取消", "#", :class => "cancel"
          
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix