- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');}
    function change_div(dividname) {
      $('#'+dividname).toggle();}
      
= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      发表
    .nav
      %ul
        %li= link_to "分享", share_users_url, :class => "on"
        %li= link_to "活动", discover_users_url
        .clearfix
    .formstyle
      = form_tag(postshare_users_url, :multipart => true) do
        %table{:width => '100%', :cellpadding => 4}
          %tr
            %td{:width => 100} 标题
            %td= text_field_tag :title, "", :class => "input wide"
          %tr
            %td 封面图片
            %td= file_field_tag :poster

          %tr
            %td 
            %td
              = check_box_tag "add_album", "true", false, :onclick => "$('#upload_div').toggle();$('.addmore').toggle();"
              = label_tag(:add_album, "我要增加系列图集")
          %tr#upload_div.hide.bg
            %td 图集
            %td
              = file_field_tag "photos[file][]"
          %tr.addmore.hide.bg
            %td
            %td
              = link_to("增加上传", js_void, :onclick => "add_upload_file();")

          %tr
            %td 
            %td
              = check_box_tag "add_video", "true", false, :onclick => "$('#video_div').toggle();"
              = label_tag(:add_video, "我要增加一段视频")
          %tr#video_div.hide.bg
            %td 视频代码
            %td
              = text_field_tag :code, "", :class => "input wide"
              %br
              %small.grey 支持优酷/土豆/酷6/六间房/56网/音悦台/搜狐/奇艺的swf格式的视频代码,如 http://www.youku.com/sample.swf

          %tr
            %td 内容
            %td= cktext_area_tag("content", "", :input_html => {:cols => 10, :rows => 10}, :toolbar => 'Basic')
          %tr
            %td 标签
            %td= text_field_tag :tag_list, "", :class => "input"

          %tr
            %td 
            %td 
              = check_box_tag "add_items", "true", false, :onclick => "$('#item_tb').toggle();"
              = label_tag(:add_items, "我要关联商品")
          
        %table{:width => '100%', :cellspadding => 6, :id => "item_tb", :class => "hide"}
          %tr
            %td{:width => 100}
              %span.help
                =link_to "商品货号", js_void
            %td
              = text_field_tag :unique_id, "", :class => "input wide", :onchange => ""
              输入商品货号，系统将自动找到它。
          %tr
            %td
            %td
              .items_box
          %tr
            %td
              购买地点
            %td
              = text_field_tag :buy_place, "", :class => "input wide"
              
        
        .btn
          = submit_tag "确定", :class => "submit"
          %span#test
        
.clearfix