- content_for :header do
  :javascript
    $(document).ready(function() {
    
      $('#moreitem').click(function(){
        $('#showitem_div:first').clone().insertBefore('#insertBeforeMe');
      });
    
      $('#file_upload').uploadify({
        'uploader'  : '/uploadify.swf',
        'script'    : '#{uploadphototemp_url(:format => :json)}',
        'cancelImg' : '/images/cancel.png',
        'folder'    : '/uploadtmps',
        'buttonImg' : '/images/swfupload.jpg',
        // 'scriptData'  : {
        //   '_http_accept': 'application/javascript',
        //   'authenticity_token':'#{form_authenticity_token}'},
        'auto'        : true,
        'onProgress'  : function(){
          $('#progress').show();
        },
        'onComplete'  : function(event, ID, fileObj, response, data) {
          var dat = eval('(' + response + ')'); 
          var preview_url = dat.tmpurl;
          var tmpfile_id  = dat.tmpid;
          $('#progress').hide();
          $('#preview_img').attr('src', preview_url);
          $('#photo_temp_id').attr('value', tmpfile_id);
          $('#preview').show();
        }
      });

      // item name
      $('#item_search').live('keyup', function() {
        if ($(this).val().length > 0) {
          var whois = $(this);
          $.ajax({
            type: 'POST',
            url:  '#{item_name_search_url(:format => :json)}',
            data: {'s': $(this).val()},
            beforeSend: function(){
              $('this').addClass('loading');
              $('#item_search_results').remove();
            },
            success: function(data){
              $(this).removeClass('loading');
              var items = [];
              $.each(data, function(index, entry) {
                items.push('<li>' + entry['title'] + '</li>');
              });
              $('<ul/>', {
                'id': 'item_search_results',
                html: items.join('')
              }).insertAfter(whois);
            }
          });
        } else {
          $("#item_search_results").remove();}
      });

      
      $('#item_search_results > li').live('mouseover', function(){
        $(this).addClass('hover');});
      $('#item_search_results > li').live('mouseout', function(){
        $(this).removeClass('hover');});
      $('#item_search_results > li').live('click', function(){
        $(this).parent().prev().attr('value', $(this).text());
        $('#item_search_results').remove();});
      
      // brand name
      $('#brand_search').live('keyup', function() {
        if ($(this).val().length > 0) {
          var whois = $(this);
          $.ajax({
            type: 'POST',
            url:  '#{brand_name_search_url(:format => :json)}',
            data: {'s': $(this).val()},
            beforeSend: function(){$(this).addClass('loading');},
            success:    function(data){
              $(this).removeClass('loading');
              var items = [];
              $.each(data, function(index, entry) {
                items.push('<li>' + entry['name'] + '</li>');
              });
              $('<ul/>', {
                'id': 'brand_search_results',
                html: items.join('')
              }).insertAfter(whois);
            }
          });
        } else {
          $("#brand_search_results").remove();}
      });
      
      $('#brand_search_results > li').live('mouseover', function(){
        $(this).addClass('hover');});
      $('#brand_search_results > li').live('mouseout', function(){
        $(this).removeClass('hover');});
      $('#brand_search_results > li').live('click', function(){
        $(this).parent().prev().attr('value', $(this).text());
        $('#brand_search_results').remove();});


      // unique_id item
      $('#uniqueid_search').live('keyup', function() {
        if ($(this).val().length > 0) {
          var whois = $(this);
          $.ajax({
            type: 'POST',
            url:  '#{uniqueid_search_url(:format => :json)}',
            data: {'uid': $(this).val()},
            beforeSend: function(){$(this).addClass('loading');},
            success:    function(data){
              $(this).removeClass('loading');
              var items = [];
              $.each(data, function(index, entry) {
                items.push('<li>' + entry['unique_id'] + '</li>');
              });
              $('<ul/>', {
                'id': 'uniqueid_search_results',
                html: items.join('')
              }).insertAfter(whois);
            }
          });
        } else {
          $("#uniqueid_search_results").remove();}
      });
      
      $('#uniqueid_search_results > li').live('mouseover', function(){
        $(this).addClass('hover');});
      $('#uniqueid_search_results > li').live('mouseout', function(){
        $(this).removeClass('hover');});
      $('#uniqueid_search_results > li').live('click', function(){
        $(this).parent().prev().attr('value', $(this).text());
        $('#uniqueid_search_results').remove();});

      $('#taginput').focus(function(){
        $('#taginput_label').fadeIn(500);
      });
      $('#taginput').blur(function(){
        $('#taginput_label').fadeOut(500);
      });
      
      $('#shareform').submit(function(){
        var content = $('#content').val();
        var poster  = $('#photo_temp_id').val();
        var checkok = false;
        if (content == ''){
          alert('亲，内容不能为空。');
          $('#content').focus();
          return false;
        }
        if (poster == ''){
          alert('亲，图片不传是种损失啊。');
          return false;
        }
        if (content != '' && poster != ''){
          $('#btnloading').show();
          $('#postsharebtn').attr("disabled", "disabled");
          return true;
        }else{
          return false
        }
        return false
      });
          
    });
      

.mainbox.fullwidth
  .formbox
    .title
      发表
    .nav
      %ul
        %li= link_to "分享", share_users_url, :class => "on"
        - if [2,3,4].include?(@user.role)
          %li= link_to "新活动", discover_users_url
        - else
          %li= link_to "活动线报", discover_users_url
        
        .clearfix

    .postdone.hide
      .donewords
      .targetlink

    .sharebox#postsharediv
      .previewbox
        .progress#progress.hide
          = image_tag("loadinggray.gif")
        .preview#preview.hide
          = image_tag("nopic.jpg", :width => 390, :height => 490, :id => "preview_img")
          
      .inputbox
        = form_tag(postshare_users_url, :multipart => true, :id => "shareform") do
          - if @activity.present?
            .tr
              = hidden_field_tag :activity_id, @activity.id
              投稿到活动
              = link_to @activity.title, @activity, :target => "_blank"
              .clearfix
          - if @archetype.present?
            .tr
              = hidden_field_tag :archetype_id, @archetype.id
              投稿到
              = @archetype.channel.name if @archetype.channel.present?
              = link_to @archetype.name, @archetype, :target => "_blank"
              .clearfix
          .tr
            = file_field_tag :file, :id => "file_upload"
            .clearfix
          .tr
            = text_area_tag :content, "", :class => "textarea"
          /.tr
          /  .right
          /    %span#taginput_label.hide 空格区分
          /  = text_area_tag :tag, "", :class => "taginput", :id => "taginput"
          .action
            %ul
              %li= link_to "增加物品", js_void,  :class => "btn1", :id => "moreitem"
              .clearfix
          .showitem_div#showitem_div
            .tinytable
              .tr
                .th 商品类别
                .td
                  = select_tag 'items[category][]', options_for_select(['','帽子','鞋','上衣','裤子','裙子','袜子','包'])
                .clearfix
              .tr
                .th 商品名称
                .td
                  = text_field_tag 'items[name][]', "", :class => "input", :id => "item_search", :autocomplete => "off"
                .clearfix
              .tr
                .th 商品品牌
                .td
                  = text_field_tag 'items[brand][]', "", :class => "input", :id => "brand_search", :autocomplete => "off"
                  #brand_search_results
                .clearfix
              .tr
                .th 商品货号
                .td
                  = text_field_tag 'items[uniqueid][]', "", :class => "input", :id => "uniqueid_search", :autocomplete => "off"
                  #uniqueid_search_results
                .clearfix

              .tr
                .th 商品价格
                .td= text_field_tag 'items[price][]', "", :class => "input"
                .clearfix
              .tr
                .th 购买地点
                .td= text_field_tag 'items[buy_place][]', "", :class => "input"
                .clearfix
              .tr
                .th 商品图片
                .td= file_field_tag 'items[poster][]'
                .clearfix
              

          .submitdiv#insertBeforeMe
            = hidden_field_tag :photo_temp_id
            = submit_tag "发表", :class => "btnstyle", :id => "postsharebtn"
            %span#btnloading.hide
              = image_tag('indicator.gif')
      .clearfix

        
.clearfix

