- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');}
    function change_div(dividname) {
      $('#'+dividname).toggle();}
      
    $(document).ready(function() {
    
      $('#file_upload').uploadify({
        'uploader'  : '/uploadify.swf',
        'script'    : '#{uploadphototemp_url(:format => :json)}',
        'cancelImg' : '/images/cancel.png',
        'folder'    : '/uploadtmps',
        'buttonImg' : '/images/swfupload.jpg',
        // 'scriptData'  : {
        //   '_http_accept': 'application/javascript',
        //   'authenticity_token':'#{form_authenticity_token}'},
        'auto'        : true,
        'onProgress'  : function(){
          $('#progress').show();
        },
        'onComplete'  : function(event, ID, fileObj, response, data) {
          var dat = eval('(' + response + ')'); 
          var preview_url = dat.tmpurl;
          var tmpfile_id  = dat.tmpid;
          $('#progress').hide();
          $('#preview_img').attr('src', preview_url);
          $('#photo_temp_id').attr('value', tmpfile_id);
          $('#preview').show();
        }
      });
      
      $('#brand_search').keyup(function() {
        if ($(this).val().length > 0) {
          $.ajax({
            type: 'POST',
            url:  '#{brand_name_search_url(:format => :js)}',
            data: {'s': $(this).val()},
            beforeSend: function(){$('#brand_search').addClass('loading');},
            success:    function(){$('#brand_search').removeClass('loading');}
          });
        } else {
          $("#brand_search_results").html('');
          $("#brand_search_results").hide();}
      });
      
      $('#item_search').keyup(function() {
        if ($(this).val().length > 0) {
          $.ajax({
            type: 'POST',
            url:  '#{item_name_search_url(:format => :js)}',
            data: {'s': $(this).val()},
            beforeSend: function(){$('#item_search').addClass('loading');},
            success:    function(){$('#item_search').removeClass('loading');}
          });
        } else {
          $("#item_search_results").html('');
          $("#item_search_results").hide();}
      });
      
      $('#itemtag_input').focus(function(){
        $('#itemtag_input_label').fadeIn(500);
      });
      $('#itemtag_input').blur(function(){
        $('#itemtag_input_label').fadeOut(500);
      });
          
      $('#styletag_input').focus(function(){
        $('#styletag_input_label').fadeIn(500);
      });
      $('#styletag_input').blur(function(){
        $('#styletag_input_label').fadeOut(500);
      });
      
      $('#shareform').submit(function(){
        var content = $('#content').val();
        var poster  = $('#photo_temp_id').val();
        var checkok = false;
        if (content == ''){
          alert('亲，内容不能为空。');
          $('#content').focus();
          return false;
        }
        if (poster == ''){
          alert('亲，图片不传是种损失啊。');
          return false;
        }
        if (content != '' && poster != ''){
          $('#btnloading').show();
          $('#postsharebtn').attr("disabled", "disabled");
          return true;
        }else{
          return false
        }
        return false
      });
          
    });
      
= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      发表
    .nav
      %ul
        %li= link_to "分享", share_users_url, :class => "on"
        %li= link_to "活动", discover_users_url
        .clearfix

    .postdone.hide
      .donewords
      .targetlink

    .sharebox#postsharediv
      .previewbox
        .progress#progress.hide
          = image_tag("loadinggray.gif")
        .preview#preview.hide
          = image_tag("nopic.jpg", :width => 180, :height => 270, :id => "preview_img")
          
      .inputbox
        = form_tag(postshare_users_url, :multipart => true, :remote => true, :id => "shareform") do
          - if @activity.present?
            .tr
              = hidden_field_tag :activity_id, @activity.id
              投稿到活动
              = link_to @activity.title, @activity, :target => "_blank"
              .clearfix
          - if @brand.present?
            .tr
              = hidden_field_tag :brand_id, @brand.id
              投稿到品牌
              = link_to @brand.title, @brand, :target => "_blank"
              .clearfix
          .tr
            = file_field_tag :file, :id => "file_upload"
            .clearfix
            
          .tr
            = text_area_tag :content, "", :class => "textarea"
          .action
            %ul
              %li= link_to "晒物品", js_void,  :class => "btn1", :id => "showitem"
              %li= link_to "秀搭配", js_void,  :class => "btn2", :id => "showstyle"
              %li= link_to "活动线报", js_void, :class => "btn3", :id => "showdiscount"
              .clearfix
          .showitem_div.hide
            .tinytable
              .tr
                .th 商品名称
                .td
                  = text_field_tag :item_name, "", :class => "input", :id => "item_search", :autocomplete => "off"
                  %span#itemtag_input_label.hide
                .clearfix
                #item_search_results
                .clearfix
              .tr
                .th 商品品牌
                .td
                  = text_field_tag :brand_name, "", :class => "input", :id => "brand_search", :autocomplete => "off"
                .clearfix
                #brand_search_results
                .clearfix
              .tr
                .th 商品价格
                .td= text_field_tag :price, "", :class => "input"
                .clearfix
              .tr
                .th 购买地点
                .td= text_field_tag :place, "", :class => "input"
                .clearfix
              .tr
                .th 标签
                .td
                  = text_field_tag :itemtag, "", :class => "input", :id => "itemtag_input"
                  %span#itemtag_input_label.hide 空格区分
                .clearfix
              
          .showstyle_div.hide
            .tinytable
              .tr
                .th 标签
                .td
                  = text_field_tag :styletag, "", :class => "input", :id => "styletag_input"
                  %span#styletag_input_label.hide 空格区分
                .clearfix

          .showdiscount_div.hide
            .tinytable
              .tr
                .th 商场名称
                .td
                  = text_field_tag :shop_name, "", :class => "input"
                .clearfix
              .tr
                .th 品牌名称
                .td
                  = text_field_tag :brand_name, "", :class => "input"
                .clearfix
              .tr
                .th 开始时间
                .td
                  = text_field_tag :begin_time, "", :class => "input"
                .clearfix
              .tr
                .th 结束时间
                .td
                  = text_field_tag :end_time, "", :class => "input"
                .clearfix
              

          .submitdiv
            = hidden_field_tag :is_type
            = hidden_field_tag :photo_temp_id
            = submit_tag "发表", :class => "btnstyle", :id => "postsharebtn"
            %span#btnloading.hide
              = image_tag('indicator.gif')
          :javascript
            $('#showitem').click(function(){
              $('.showitem_div').toggle('fade');
              $('.showstyle_div').hide();
              $('.showdiscount_div').hide();
              $('#is_type').attr('value', 'showitem');
            });
            $('#showstyle').click(function(){
              $('.showitem_div').hide();
              $('.showstyle_div').toggle('fade');
              $('.showdiscount_div').hide();
              $('#is_type').attr('value', 'showstyle');
            });
            $('#showdiscount').click(function(){
              $('.showitem_div').hide();
              $('.showstyle_div').hide();
              $('.showdiscount_div').toggle('fade');
              $('#is_type').attr('value', 'showdiscount');
            });
      .clearfix

        
.clearfix

