- content_for :header do
  :javascript
    $(document).ready(function() {
    
      $('#moreitem').click(function(){
        $('.showitem_div').clone().insertAfter('.showitem_div');
      });
    
      $('#file_upload').uploadify({
        'uploader'  : '/uploadify.swf',
        'script'    : '#{uploadphototemp_url(:format => :json)}',
        'cancelImg' : '/images/cancel.png',
        'folder'    : '/uploadtmps',
        'buttonImg' : '/images/swfupload.jpg',
        // 'scriptData'  : {
        //   '_http_accept': 'application/javascript',
        //   'authenticity_token':'#{form_authenticity_token}'},
        'auto'        : true,
        'onProgress'  : function(){
          $('#progress').show();
        },
        'onComplete'  : function(event, ID, fileObj, response, data) {
          var dat = eval('(' + response + ')'); 
          var preview_url = dat.tmpurl;
          var tmpfile_id  = dat.tmpid;
          $('#progress').hide();
          $('#preview_img').attr('src', preview_url);
          $('#photo_temp_id').attr('value', tmpfile_id);
          $('#preview').show();
        }
      });

      // item name
      $('#item_search').keyup(function() {
        if ($(this).val().length > 0) {
          $.ajax({
            type: 'POST',
            url:  '#{item_name_search_url(:format => :json)}',
            data: {'s': $(this).val()},
            beforeSend: function(){
              $('#item_search').addClass('loading');
              $('#item_search_results').remove();
            },
            success: function(data){
              $('#item_search').removeClass('loading');
              var items = [];
              $.each(data, function(index, entry) {
                items.push('<li>' + entry['title'] + '</li>');
              });
              $('<ul/>', {
                'id': 'item_search_results',
                html: items.join('')
              }).insertAfter($('#item_search'));
            }
          });
        } else {
          $("#item_search_results").remove();}
      });
      
      $('#item_search_results > li').live('mouseover', function(){
        $(this).addClass('hover');});
      $('#item_search_results > li').live('mouseout', function(){
        $(this).removeClass('hover');});
      $('#item_search_results > li').live('click', function(){
        $('#item_search').attr('value', $(this).text());
        $('#item_search_results').remove();});
      
      // brand name
      $('#brand_search').keyup(function() {
        if ($(this).val().length > 0) {
          $.ajax({
            type: 'POST',
            url:  '#{brand_name_search_url(:format => :json)}',
            data: {'s': $(this).val()},
            beforeSend: function(){$('#brand_search').addClass('loading');},
            success:    function(data){
              $('#brand_search').removeClass('loading');
              var items = [];
              $.each(data, function(index, entry) {
                items.push('<li>' + entry['name'] + '</li>');
              });
              $('<ul/>', {
                'id': 'brand_search_results',
                html: items.join('')
              }).insertAfter($('#brand_search'));
            }
          });
        } else {
          $("#brand_search_results").remove();}
      });
      
      $('#brand_search_results > li').live('mouseover', function(){
        $(this).addClass('hover');});
      $('#brand_search_results > li').live('mouseout', function(){
        $(this).removeClass('hover');});
      $('#brand_search_results > li').live('click', function(){
        $('#brand_search').attr('value', $(this).text());
        $('#brand_search_results').remove();});
      
      $('#taginput').focus(function(){
        $('#taginput_label').fadeIn(500);
      });
      $('#taginput').blur(function(){
        $('#taginput_label').fadeOut(500);
      });
      
      $('#shareform').submit(function(){
        var content = $('#content').val();
        var poster  = $('#photo_temp_id').val();
        var checkok = false;
        if (content == ''){
          alert('亲，内容不能为空。');
          $('#content').focus();
          return false;
        }
        if (poster == ''){
          alert('亲，图片不传是种损失啊。');
          return false;
        }
        if (content != '' && poster != ''){
          $('#btnloading').show();
          $('#postsharebtn').attr("disabled", "disabled");
          return true;
        }else{
          return false
        }
        return false
      });
          
    });
      
= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      发表
    .nav
      %ul
        %li= link_to "分享", share_users_url, :class => "on"
        %li= link_to "活动线报", discover_users_url
        .clearfix

    .postdone.hide
      .donewords
      .targetlink

    .sharebox#postsharediv
      .previewbox
        .progress#progress.hide
          = image_tag("loadinggray.gif")
        .preview#preview.hide
          = image_tag("nopic.jpg", :width => 180, :height => 270, :id => "preview_img")
          
      .inputbox
        = form_tag(postshare_users_url, :multipart => true, :remote => true, :id => "shareform") do
          - if @activity.present?
            .tr
              = hidden_field_tag :activity_id, @activity.id
              投稿到活动
              = link_to @activity.title, @activity, :target => "_blank"
              .clearfix
          - if @brand.present?
            .tr
              = hidden_field_tag :brand_id, @brand.id
              投稿到品牌
              = link_to @brand.title, @brand, :target => "_blank"
              .clearfix
          .tr
            = file_field_tag :file, :id => "file_upload"
            .clearfix
          .tr
            = text_area_tag :content, "", :class => "textarea"
          .tr
            .right
              %span#taginput_label.hide 空格区分
            = text_area_tag :tag, "", :class => "taginput", :id => "taginput"
          .action
            %ul
              %li= link_to "增加物品", js_void,  :class => "btn1", :id => "moreitem"
              .clearfix
          .showitem_div
            .tinytable
              .tr
                .th 商品名称
                .td
                  = text_field_tag :item_name, "", :class => "input", :id => "item_search", :autocomplete => "off"
                .clearfix
              .tr
                .th 商品品牌
                .td
                  = text_field_tag :brand_name, "", :class => "input", :id => "brand_search", :autocomplete => "off"
                  #brand_search_results
                .clearfix
              .tr
                .th 商品价格
                .td= text_field_tag :price, "", :class => "input"
                .clearfix
              .tr
                .th 购买地点
                .td= text_field_tag :place, "", :class => "input"
                .clearfix
              

          .submitdiv
            = hidden_field_tag :photo_temp_id
            = submit_tag "发表", :class => "btnstyle", :id => "postsharebtn"
            %span#btnloading.hide
              = image_tag('indicator.gif')
      .clearfix

        
.clearfix

