.leftarea

  = render :partial => "users/homenav"
    
  .list
    - for feed in @feeds
      .item
        .avatar= image_tag(@user.avatar.url(:thumb))
        .content
          .name
            = feed.username
          .title
            = link_to feed.title, feed.target_url, :target => "_blank"
          .poster
            = image_tag(feed.klass.poster.url(:thumb))
          .text
            = feed.content.html_safe
        .clearfix
    .paginate
      = will_paginate @feeds, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix