= render :partial => "users/usersidebox"
.sharelist
  .top
    .right.action
      = @user.articles_count
      篇文章
      %span.dot
      = @user.followings_count
      个关注
      %span.dot
      = @user.favorites_count
      个收藏
    %span.name
      = @user.name
  .list#sharelist
    - for article in @articles
      .shareitem
        .box
          .content
            = link_to image_tag(article.poster.url(:small), :width => 190, :height => 190), article, :target => "_blank"
          .title
            - if article.title.present?
              = link_to article.title, article, :target => "_blank"
            - else
              = link_to article.content.html_safe, article, :target => "_blank"
          - if article.user_id.present?
            .info
              .avatar= link_to image_tag(article.user.avatar.url(:small), :width=>30, :height => 30), article.user, :target => "_blank"
              .intro
                = link_to article.user.name, article.user, :target => "_blank"
                发表于
                = article.created_from_now
              .clearfix
          - if article.comments.present?
            .comments
              - for comment in article.comments.top
                .comment
                  .avatar= link_to image_tag(comment.user.avatar.url(:small), :width=>30, :height => 30), comment.user, :target => "_blank"
                  .intro
                    = link_to comment.user.name, comment.user, :target => "_blank"
                    = comment.content.html_safe
                  .clearfix

          .action
    .clearfix
.clearfix