= render :partial => "users/usersidebox"
.sharelist
  .top
    .right.action
      = @user.articles_count
      篇文章
      %span.dot
      = @user.followings_count
      个关注
      %span.dot
      = @user.favorites_count
      个收藏
    %span.name
      = @user.name
  .list#sharelist
    - 20.times do
      .shareitem
        .box
          .title
            文字文字文字
          .content
          .action
        
    .clearfix
.clearfix