- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');
    }

.leftarea
  = render :partial => "users/homebtn"
  
  .writediv
    = form_tag(uploadphoto_users_url, :multipart => true) do
      .singlediv
        .title
          标题
          %small (可不填)
        .inputdiv
          = text_field_tag :title, "", :class => "input"
      .singlediv
        .title
          选择图片
          %small
            = link_to("增加上传", js_void, :onclick => "add_upload_file();")
      .singlediv#upload_div
        .inputdiv
          = file_field_tag "photos[file][]"
      .addmore.mb
        
      .singlediv
        .title
          内容
        .inputdiv
          = cktext_area_tag("content", "", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Basic')
      .singlediv
        .title
          关联商品
        .inputdiv
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
      .btns
        .right
          = submit_tag "发布", :class => "submit"
        = link_to "取消", "#", :class => "cancel"
          
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix