.leftarea
  
  
  .writediv
    = form_tag(postcontent_users_url, :multipart => true) do
      .singlediv
        .title
          标题
          %small (可不填)
        .inputdiv
          = text_field_tag :title, "", :class => "input"
      .singlediv
        .title
          封面图片
          %small 不填是种损失哦
        .inputdiv
          = file_field_tag :poster
      .singlediv
        .title
          内容
        .inputdiv
          = cktext_area_tag("content", "", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Basic')
      .singlediv
        .title
          标签
          %small 中文逗号分割
        .inputdiv
          = text_field_tag :tag_list, "", :class => "input"
      .btns
        .right
          = submit_tag "发布", :class => "submit"
        = link_to "取消", "#", :class => "cancel"
          
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix