- content_for :header do
  - if @archetype.has_map?
    = javascript_include_tag "http://api.51ditu.com/js/maps.js"

.showtitle
  .right
    = link_to "我要投稿", share_users_url(:aid => @archetype), :target => "_blank"
    = link_to "我要线报", find_users_url(:aid => @archetype), :target => "_blank"
  = @archetype.category.present? ? @archetype.category.name + " : " : ""
  = @archetype.name
  %span.small  
    已有
    = @archetype.articles.count
    个主题收集
.showcontent
  .sharelist.nopadding
    .list#sharelist
      .shareitem
        .box
          .content
            .archetype_logo
              = image_tag(@archetype.logo.url)
            .archetype_name
              = @archetype.name
            .archetype_box
              .right
                = link_to "+关注", follow_archetype_url(@archetype), :remote => true, :method => :post, :class => "followstylebtn"
              .hot_count
                人气：
                %span{:id => "hoy_count_#{@archetype.id}"}
                  = @archetype.followers.count
            /.archetype_box
            /  .line 品牌综合评价
            /  .line 质量
            /  .line 款式
            /  .line 服务
            /  .line 
            /    .right
            /      = link_to "我来评价", ""
            /    已有#{@archetype.scores_count}个评价
            - if @archetype.has_map?
              .mapbox
                #map{:style => "width:190px;height:190px"}
                :javascript
                  var map=new LTMaps("map");
                  var point=new LTPoint(#{@archetype.longitude.to_i}, #{@archetype.latitude.to_i});
                  map.centerAndZoom(point,1); 
                  var marker=new LTMarker(point);
                  map.addOverLay(marker);
                .viewbig
                  = link_to "点击查看大图", maps_url(:latitude => @archetype.latitude, :longitude => @archetype.longitude), :target => "_blank"
            - if @archetype.coupons.count > 0
              .archetype_box
                %ul
                  - for coupon in @archetype.coupons
                    %li
                      %span
                        优惠券：
                      = link_to coupon.dateintro, coupon, :target => "_blank"
            - if @user
              .archetype_box
                - if @archetype.owners.present?
                  .owners
                    %span 所有者
                    - for owner in @archetype.owners
                      = link_to owner.name, owner, :target => "_blank"
                - else
                  .apply
                    - if loggin? and @user.owns.present?

                    - else
                      = link_to "资源申请", apply_users_url(:aid => @archetype.id), :method => :post, :confirm => "确定申请该资源吗？"
            .archetype_box
              - if @archetype.channel.present?
                .archetype_channel
                  %span
                    类型：
                  = @archetype.channel.name 
              .archetype_intro
                %span
                  介绍：
                = @archetype.intro.html_safe
            .archetype_users
              .title
                TA们也在关注
                %ul
                  - for user in @archetype.followers
                    %li= link_to image_tag(user.avatar.url(:small), :width => 30, :height => 30), user, :target => "_blank"
                  .clearfix
                .clearfix

      - for article in @articles
        .shareitem
          .box
            .content
              = link_to image_tag(article.poster.url(:small), :width => 190, :height => 190), article, :target => "_blank"
            .title
              - if article.title.present?
                = link_to article.title, article, :target => "_blank"
              - else
                = link_to article.content.truncate(100, :omission => "..."), article, :target => "_blank"
            - if article.user_id.present?
              .info
                .avatar= link_to image_tag(article.user.avatar.url(:small), :width=>30, :height => 30), article.user, :target => "_blank"
                .intro
                  = link_to article.user.name, article.user, :target => "_blank"
                  发表于
                  = article.created_from_now
                .clearfix
            - if article.comments.present?
              .comments
                - for comment in article.comments.top
                  .comment
                    .avatar= link_to image_tag(comment.user.avatar.url(:small), :width=>30, :height => 30), comment.user, :target => "_blank"
                    .intro
                      = link_to comment.user.name, comment.user, :target => "_blank"
                      = comment.content.html_safe
                    .clearfix

            .action
      .clearfix
  .clearfix
