.leftarea
  = render :partial => "users/homebtn"
  = render :partial => "users/homenav"
    
  .show
    .fixlayout
      .avatar= image_tag(@user.avatar.url(:thumb))
      .content
        .name
          = @user.name
        .title
          = link_to @good.title, view_good_url(@good)
        .poster
          = image_tag(@good.poster.url(:thumb))
        - if @good.photos.present?
          .album
            - for photo in @good.photos
              = image_tag(photo.file.url(:small))
        .text
          = @good.content.html_safe
        .action
          .btn.right
            喜欢(#{@good.likes_count})
            评论(#{@good.comments_count})
            转载
          .tags
            - for tag in @good.tags
              %span= link_to tag.name, nav_good_url(:tag => URI.encode(tag.name))
      .clearfix
    
    
    
.rightarea
  = render :partial => "users/usersidebox"
  .siderbox
    
  .siderbox
    
.clearfix