= render :partial => "users/usersidebox"
.shareview
  .show
    .head
      .right
        = link_to raw("<span id='likes_count_#{@item.id}'>#{@item.likes_count}</span><em></em>"), like_item_url(@item), :remote => true, :method => :post, :class => "like"
      .block
        .avatar
          = link_to image_tag(@user.avatar.url(:thumb), :width => 60, :height => 60), @user
        .info
          .name
            = link_to @user.name, @user
          .time
            = @item.created_at.to_s(:db)
        .clearfix
      .clearfix
    .intro
    .body
      - if @item.poster.file?
        .poster
          = image_tag(@item.poster.url)
      .sharebox
        分享到：
        = link_to "", js_void, :class => "sina"
        = link_to "", js_void, :class => "tx"
        = link_to "", js_void, :class => "rr"
        = link_to "", js_void, :class => "qz"
      .comments
        %h2
          评论
        .newcomment
          .avatar
            = image_tag(@current_user.avatar.url(:small), :width => 30, :height => 30)
          .newinput
            = form_tag(write_item_url(@item)) do
              = text_area_tag :content, "", :class => "input"
              %br
              = submit_tag("确定", :class => "btnstyle")
          .clearfix
        .commentslist
          - for comment in @comments
            .comment
              .avatar
                = link_to(image_tag(comment.user.avatar.url(:small), :width => 30, :height => 30), comment.user)
              .info
                .name
                  .right
                    = link_to "回复", js_void
                  = link_to(comment.user.name, comment.user)
                .comment_content= comment.content.html_safe
                .time= comment.created_from_now
              .clearfix
          = will_paginate @comments, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
.clearfix

