= form_for(brand) do |f|
  %table{:width => "100%", :cellpadding => "4"}
    - unless @brand.new_record?
      %tr
        %td{:width => "190"}
          
        %td
          = image_tag(@brand.logo.url)
    %tr
      %td{:width => "190"}
        Logo
      %td
        = f.file_field :logo
    %tr
      %td
        名称
      %td
        = f.text_field :name, :class => "input"
    %tr
      %td
        投放频道
      %td
        = f.select :channel_id, [["", ""]]+Channel.order('position asc').map{|ch| [ch.name, ch.id]}

  .btn
    = submit_tag "确定", :class => "submit"
