.articles_view.left
  .display
    .title
      = @article.title
    .poster
      = image_tag(@article.poster.url)
    - if @article.code.present?
      .player
        = flashplayer(@article.code)
    - if @article.photos.present?
      .album
        - for photo in @article.photos
          = image_tag(photo.file.url(:small))
    .text
      = @article.content.html_safe
    .like
      = link_to "喜欢", like_article_url(@article), :remote => true, :method => :post
      %span#likes_count
        = @article.likes_count
    .clearfix
  .comments
    .title
      TA们说
    .write
      = form_tag(write_article_url(@article)) do
        = text_area_tag :content, "", :class => "input"
        .action
          = submit_tag("确定", :class => "btn")
    .list
      - for comment in @comments
        .item
          .avatar
            = link_to image_tag(comment.user.avatar.url(:small), :width => 40, :height => 40), comment.user
          .intro
            .name
              = link_to comment.user.name, comment.user
            .content
              = comment.content.html_safe
          .clearfix
    .paginate
      = will_paginate @comments, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
.articles_tags.right
  %ul
    -for tag in Article.tag_counts
      %li= link_to tag, nav_brand_url(:tag => URI.encode(tag.name))
  .clearfix

.clearfix