.showbox
  .area.mb
    .right
      = image_tag(image_path("#{@activity.poster.url(:small)}"))
    .title= @activity.title
    .schedule
      %span 活动时间
      = @activity.schedule
    .address
      %span 地址
      = @activity.address
    .telphone
      %span 电话
      = @activity.telphone
    .tags
      %span 标签
      = link_to "综合商店", ""
      = link_to "品牌折扣店", ""
    .clearfix
  .area
    .action
      = link_to '去过', visited_activity_url(@activity), :remote => true, :method => :post
      = link_to '收藏', favorite_activity_url(@activity), :remote => true, :method => :post
      = link_to '分享', share_activity_url(@activity), :remote => true, :method => :post
    .detail
      .title
        %strong 活动详细
      .intro
        = @activity.content.html_safe
    .comments
      .title
        TA们说
      .write
        = form_tag(write_activity_url(@activity)) do
          = text_area_tag :content, "", :class => "input"
          .write_action
            = submit_tag("确定", :class => "btn")
      .list
        - for comment in @comments
          .item
            .avatar
              = link_to image_tag(comment.user.avatar.url(:small), :width => 40, :height => 40), comment.user
            .intro
              .name
                = link_to comment.user.name, comment.user
              .content
                = comment.content.html_safe
            .clearfix
      .paginate
        = will_paginate @comments, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  
.rightbox.medium-width
  .box
    地图
  .box
    .title
      TA们去过
  .box
    .title
      附近活动信息
  .box
    .title
      附近购物商户

.clearfix