!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= seo_title
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield :header
  %body
    .header
      .layout
        .logo
          = link_to(image_tag("logo.png"), root_url)
      .nav
        .layout
          .action.right
            - if loggin?
              =link_to "我要发布", publish_users_url
              =link_to "#{current_user_name}的空间", user_url(current_user_id)
              =link_to "私信", ""
              =link_to "设置", setting_users_url
              =link_to "退出", logout_users_url
            - else
              = link_to "注册", new_user_url
              = link_to "登录", welcome_users_url
          %ul
            %li= link_to "首页", root_url
            %li= link_to "时尚", nav_article_url, :class => nav_class("article")
            %li= link_to "活动", nav_activity_url, :class => nav_class("activity")
            %li= link_to "商家", nav_company_url, :class => nav_class("company")
            %li= link_to "品牌", nav_brand_url, :class => nav_class("brand")
            %li= link_to "商品", nav_good_url, :class => nav_class("good")
            .clearfix
    .layout.mb
      - if flash[:notice]
        .noticediv
          = flash[:notice]
      - if flash[:error]
        .errordiv
          = flash[:error]
      .mainbox.pt
        = yield
    = render :partial => "layouts/footer"