!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= seo_title
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield :header
  %body
    #pagewrap
      .header
        .top
          .layout
            .right.action
              - if loggin?
                %ul.sf-menu
                  %li.w90
                    =link_to "#{current_user_name}", user_url(current_user_id)
                    %ul
                      %li=link_to "我的文章", articles_url
                      %li=link_to "我的品牌", brands_url
                      %li=link_to "我的商品", items_url
                      %li=link_to "我的活动", ""
                      %li=link_to "退出", logout_users_url
                  %li
                    - if @current_user.messages.unread.count > 0
                      .new 新
                    =link_to "信息", messages_url
                  %li=link_to "设置", setting_users_url
              - else
                %ul.sf-menu
                  %li= link_to "注册", new_user_url
                  %li= link_to "登录", welcome_users_url
            .logo
              = link_to(image_tag("slogo.jpg"), root_url)
        
        .nav#site_nav
          .layout
            .new-action.right
              = link_to "新分享", share_users_url, :class => "new-share"
              = link_to "新活动", discover_users_url, :class => "new-discover"
            %ul
              %li= link_to "首页", root_url, :class => "index"
              %li= link_to "时尚", "/main/articles"
              %li= link_to "商家", "/main/companies"
              %li= link_to "品牌", js_void
              %li= link_to "活动", "/main/activities"
              %li= link_to "商品", "/main/items"
              .clearfix
        - unless loggin?
          .altcontainer
            .regbar
              时尚商圈，找到你的最爱。
              = link_to "登录", welcome_users_url, :class => "login"
              或
              = link_to "注册", new_user_url
        - if flash[:notice].present?
          .noticebox
            = flash[:notice]
        - if flash[:error].present?
          .errorbox
            = flash[:error]
          
      .layout
        = yield
      = render :partial => "layouts/footer"